.title-app{
  display: flex;
  justify-content: center
}

.board-chess{
  width: 600px;
  height: 600px;
  border: 2px solid white;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.square.light{
  background-color: #f0d9b5;
}

.square.dark{
  background-color: #b58863;
}

.square.light,
.square.dark {
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

i.fa-solid{
  color: black
}

.piece{
  cursor: pointer;
}

.piece .possible-move-white {
  background-color: rgb(219, 196, 16) !important;
}

.piece .possible-move-black {
  background-color: rgb(2, 3, 0) !important;
}